//- Create navigation
mixin navigation(type, list, icons)
	if type == 'navigation'
		ul
			each item in list
				li
					a(href=item.link)= item.title
	else if type == 'menu'
		ul
			each item in list[0]
				li.nav_block
					a(href=item.link)= item.title
						if item.subnavigation
							if !icons
								i.fa.fa-angle-down
							else if icons == 'ragefont'
								i.rage.rage-chevron-bottom
							else if icons == 'ragesymbols'
								svg.rage: use(xlink:href='#rage-chevron-bottom')
					if item.subnavigation
						ul
							each sub in item.subnavigation
								li
									a(href=sub.link)= sub.title
	else if type == 'megamenu'
		ul
			each item in list
				li.nav_block
					a(href=item.link)= item.title
						if item.subnavigation
							if !icons
								i.fa.fa-angle-down
							else if icons == 'ragefont'
								i.rage.rage-chevron-bottom
							else if icons == 'ragesymbols'
								svg.rage: use(xlink:href='#rage-chevron-bottom')
					if item.subnavigation
						ul
							each sub in item.subnavigation
								li
									a(href=sub.link)= sub.title
										if sub.subnavigation
											if !icons
												i.fa.fa-angle-right
											else if icons == 'ragefont'
												i.rage.rage-chevron-right
											else if icons == 'ragesymbols'
												svg.rage: use(xlink:href='#rage-chevron-right')
									if sub.subnavigation
										ul
											each sub in item.subnavigation
												li
													a(href=sub.link)= sub.title
//- Create navigation END